[submodule "excons"]
	path = excons
	url = git://github.com/gatgui/excons.git
[submodule "Qute"]
	path = Qute
	url = git://github.com/gatgui/Qt.py
[submodule "six"]
	path = six
	url = git@github.com:benjaminp/six.git
